@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 2px;
    padding: 3px;
    box-sizing: border-box;
    font-family: "Quicksand",
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091921;
}

body .container {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 15px 50px 30px rgba(0, 0, 0, 0.589);
}

body .container .oldcalculator {
    position: relative;
    display: grid;
}

body .container .oldcalculator .value {
    grid-column: span 4;
    height: 150px;
    width: 310px;
    text-align: right;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-size: 50px;
    background: black;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    resize: none;
    font-family: 'VT323', monospace;
    color: greenyellow;
}

body .container .oldcalculator span {
    background: lighten(grey, 3%);
    box-shadow: 1px 2px -1px darken(grey, 5%);
    display: grid;
    padding: 3px;
    place-items: center;
    width: 75px;
    height: 75px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 30px;
    border-color: 2px rgb(51, 255, 0);
    border-radius: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.247);
    border-right: 2px solid rgba(255, 255, 255, 0.247);
}


body .container .oldcalculator span.clear {
    grid-column: span 2;
    width: 75px;
    background: rgba(236, 11, 11, 0.425);
}

body .container .oldcalculator span.plus {
    grid-row: span 2;
    height: 150px;
    background: rgba(255, 255, 255, 0.473);
    padding-top: 2px;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.418);
    border-right: 2.5px solid rgba(255, 255, 255, 0.548);

}

body .container .oldcalculator span.equal {
    background: rgba(88, 84, 76, 0.473);
    padding-top: 2px;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.418);
    border-right: 2.5px solid rgba(255, 255, 255, 0.548);

}

body .container .oldcalculator span :hover {
    background: darken(grey, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten(grey, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(black, 9.5%);
    transition: all 250ms linear;
}